<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Menu Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div class="header-welcome">
    <h2>Olá, Técnico!</h2>
    <p>O que você deseja fazer hoje?</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let item of menuItems">
        <ion-card class="menu-card" (click)="handleItemClick(item)">
          <ion-card-content>
            <div class="icon-wrapper" [ngClass]="item.color">
              <ion-icon [name]="item.icon"></ion-icon>
            </div>
            <h3>{{ item.title }}</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
