<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Novo Técnico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <ion-card class="form-card">
    <ion-card-header>
      <ion-card-title>Dados do Técnico</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-item>
        <ion-input label="Nome *" labelPlacement="floating" [(ngModel)]="tecnico.nome" placeholder="Nome completo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Especialidade *" labelPlacement="floating" [(ngModel)]="tecnico.especialidade">
          <ion-select-option value="Hardware">Hardware</ion-select-option>
          <ion-select-option value="Software">Software</ion-select-option>
          <ion-select-option value="Rede">Rede</ion-select-option>
          <ion-select-option value="Impressora">Impressora</ion-select-option>
          <ion-select-option value="Sistema interno">Sistema interno</ion-select-option>
          <ion-select-option value="Outros">Outros</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Contato *" labelPlacement="floating" [(ngModel)]="tecnico.contato" placeholder="Email ou Telefone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Situação" labelPlacement="floating" [(ngModel)]="tecnico.situacao">
          <ion-select-option value="Ativo">Ativo</ion-select-option>
          <ion-select-option value="Inativo">Inativo</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="action-buttons ion-margin-top">
        <ion-button expand="block" color="tertiary" shape="round" (click)="salvar()">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          Salvar Técnico
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
